<!-- NAVIGATION / HEADER -->
<!-- fixed header for mobile and tablet -->

<header class="header-site shadow-horizontal">

  <span class="menu-button">
    <span class="menu-button-circle">
      <span class="menu-button-text">
        <a class="font-display font-head font-head-padding font-small font-space-medi" href="#menu">
          menu
        </a>
      </span>
    </span>
    <span class="menu-button-circle menu-button-circle-shadow shadow-circular">

    </span>
  </span>
  <!-- white div to block a half of the circle -->
  <div class="header-background"> </div>
</header>

<a href="#">
  <div class="header-logo">

    {% include logo-kreis.html%}

  </div>
</a>
<!-- aside navigation, modal on mobile and tablet-->
<nav id="menu" class="navigation container al-cent jus-cent shadow-vertical">
  <a href="#close">
    <span class="navigation-mobile-close">
      <span class="navigation-mobile-close-cross cross-1"></span>
      <span class="navigation-mobile-close-cross cross-2"></span>
    </span>
  </a>

  <div class="col-12 row-r col-m-6 col-s-6 container jus-m-cent">
    <div class="navi ">

      <ul class="container col navi-sub">
        <li class="font-display font-navi-side col-12 navi-sub-hide">mehr</li>
        <li class="col-12 font-display font-small font-navi-links navi-sub-show">
          <a href="#learn_more">erfahren</a>
        </li>
      </ul>
      <ul class="container col-r navi-sub">
          <li class="font-display font-navi-side col-12 navi-sub-hide">riskieren</li>
  
          <li class="font-display font-small font-navi-links navi-sub-show col-12">
            <a href="#have_a_look">Blick</a>
          </li>
          <li class="font-display font-navi-side col-12 navi-sub-hide">Einen</li>
        </ul>
      <ul class="container col-r navi-sub navi-sub-speci">
        <li class="font-display font-navi-side col-12 navi-sub-hide">treten</li>
        <li class="font-display font-small font-navi-links col-12 navi-sub-show">
          <a href="#get_in_touch">Kontakt</a>
        </li>
        <li class="font-display font-navi-side col-12 navi-sub-hide">In</li>
      </ul>
    </div>
  </div>


</nav>

<!-- A short clip associated with the topic of the subsite -->
<span class="identifier">
  <span class="identifier-wrapper">
      <span class="identifier-spinner">

    <span class=" identifier-sub identifier-video identifier-video-green ">
      <video width="130" height="130" autoplay loop>
        <source src="../assets/vid/look.mp4" type="video/mp4">
        <source src="../assets/vid/look.ogg" type="video/ogg">
        Sorry
      </video>
    </span>
    <span class=" identifier-sub identifier-video identifier-video-green ">
      <video width="130" height="130" autoplay loop>
        <source src="../assets/vid/learn.mp4" type="video/mp4">
        <source src="../assets/vid/learn.ogg" type="video/ogg">
        Sorry
      </video>
    </span>
    <span class=" identifier-sub identifier-video identifier-video-green ">
      <video width="130" height="130" autoplay loop>
        <source src="../assets/vid/touch.mp4" type="video/mp4">
        <source src="../assets/vid/touch.ogg" type="video/ogg">
        Sorry
      </video>
    </span>
  </span>
  </span>
  <span class=" identifier-background identifier-background-shadow shadow-vertical"></span>
  <span class=" identifier-sub identifier-shadow shadow-circular"> </span>
  <span class=" identifier-background"></span>
</span>